<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cadastrar participante - Reviver</title>
    <th:block th:include="components/geral/index.html :: header-files"></th:block>
</head>
<body>
    <div th:replace="components/header/index.html :: header(content='Cadastrar participante', paginaatual='chamadas')"></div>
    <!-- Content -->
    <section class="section">
        <div class="container">
            <ul class="sessions-nav">
                <li class="session-item">Paciente</li>
                <li class="session-item">Cuidador</li>
                <li class="session-item">Termos</li>
            </ul>

            <form method="post" th:action="@{/registrochamada/}" id="regForm">
                <input type="hidden" id="chamada" name="chamada" th:value="${chamada.getId()}">
                <div class="tab">
                        <div class="columns">
                            <div class="column is-three-fifths selecionar-paciente-area">
                                <h2 class="title is-4">Selecione o paciente</h2>
                                <p class="block">Caso o paciente já possua um cadastro no sistema, use o campo abaixo para selecionar o paciente procurando
                                    pelo nome dele e depois clique em Continuar.
                                </p>
                                <div th:replace="components/select-participantes-cadastrados/index.html
                                     :: select-paticipantes-cadastrados(tipo='paciente')">
                                </div>
                                <div th:replace="pages/pacientes/cadastrar :: modal-cadastrar-paciente"></div>
                            </div>
                            <div class="column cadastrar-paciente-area">
                                <h2 class="title is-4">Cadastrar novo paciente</h2>
                                <p class="block">Clique no botão abaixo para cadastrar um novo paciente. Após o cadastro, o
                                    novo paciente será selecionado automaticamente.
                                </p>
                                <a class="button is-primary modal-cadastrar-paciente">
                                    <span class="icon">
                                      <i class="fas fa-user"></i>
                                    </span>
                                    <span>Adicionar novo paciente</span>
                                </a>
                            </div>
                        </div>
                    </div>
                <div class="tab">
                        <div class="columns">
                            <div class="column is-three-fifths selecionar-paciente-area">
                                <h2 class="title is-4">Selecione o cuidador</h2>
                                <p class="block">Caso o cuidador já possua um cadastro no sistema, use o campo abaixo para selecionar o cuidador para o
                                    novo paciente procurando pelo nome dele e depois clique em Continuar.
                                </p>
                                <div th:replace="components/select-participantes-cadastrados/index.html
                                         :: select-paticipantes-cadastrados(tipo='cuidador')">
                                </div>
                                <div th:replace="pages/cuidadores/cadastrar :: modal-cadastrar-cuidador"></div>
                            </div>
                            <div class="column cadastrar-paciente-area">
                                <h2 class="title is-4">Cadastrar novo cuidador</h2>
                                <p class="block">Clique no botão abaixo para adicionar um novo cuidador ao novo paciente. Após o cadastro, o
                                    novo cuidador será selecionado automaticamente.
                                </p>
                                <a class="button is-primary modal-cadastrar-cuidador">
                                    <span class="icon">
                                      <i class="fas fa-user-friends"></i>
                                    </span>
                                    <span>Adicionar novo cuidador</span>
                                </a>
                            </div>
                        </div>
                    </div>
                <div class="tab">
                        <div class="columns">
                            <div class="column is-three-fifths selecionar-paciente-area">
                                <h2 class="title is-4">Termos de compromisso</h2>
                                <p class="block">Termos de compromisso
                                </p>
                            </div>
                        </div>
                    </div>
                <div class="button-cadastro has-text-centered">
                        <a class="button button-cadastro-voltar is-rounded" style="margin: 5px 10px 0 0">
                            Voltar
                        </a>
                        <a class="button button-cadastro-continuar is-rounded is-medium">
                            Continuar
                        </a>
                    </div>
            </form>
        </div>
    </section>
    <!-- content end -->

<th:block th:include="components/geral/index.html :: scripts"></th:block>
</body>
</html>