<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar na Chamada</title>
    <th:block th:include="components/geral/index.html :: header-files"></th:block>
</head>

<body>
    <form th:action="@{/registrochamada/}" method="post">

        <input type="hidden" id="chamada" name="chamada" th:value="${chamada.getId()}">
        <select name="paciente" id="paciente" >
            <option value="">Procurar paciente</option>
        </select>

        <select name="cuidador" id="cuidador">
            <option value="">Procurar paciente</option>
        </select>

        <button type="submit">Registrar na chamada</button>
    </form>
    <th:block th:include="components/geral/index.html :: scripts"></th:block>
    <script>
        $("#paciente").select2({
            ajax: {
                url: '/api/pacientes/select',
                dataType: "json",
                delay: 250,
                processResults: function (response) {
                    return {
                        results: response
                    };
                },
                cache: true
            }
        });

        $("#cuidador").select2({
            ajax: {
                url: '/api/cuidadores/select',
                dataType: "json",
                delay: 250,
                processResults: function (response) {
                    return {
                        results: response
                    };
                },
                cache: true
            }
        });
        
    </script>
</body>


</html>