<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
</head>

<body>
	<!-- Pre-loader start -->
	<div class="theme-loader" th:fragment="theme-loader">
		<div class="loader-track">
			<div class="preloader-wrapper">
				<div class="spinner-layer spinner-blue">
					<div class="circle-clipper left">
						<div class="circle"></div>
					</div>
					<div class="gap-patch">
						<div class="circle"></div>
					</div>
					<div class="circle-clipper right">
						<div class="circle"></div>
					</div>
				</div>
				<div class="spinner-layer spinner-red">
					<div class="circle-clipper left">
						<div class="circle"></div>
					</div>
					<div class="gap-patch">
						<div class="circle"></div>
					</div>
					<div class="circle-clipper right">
						<div class="circle"></div>
					</div>
				</div>

				<div class="spinner-layer spinner-yellow">
					<div class="circle-clipper left">
						<div class="circle"></div>
					</div>
					<div class="gap-patch">
						<div class="circle"></div>
					</div>
					<div class="circle-clipper right">
						<div class="circle"></div>
					</div>
				</div>

				<div class="spinner-layer spinner-green">
					<div class="circle-clipper left">
						<div class="circle"></div>
					</div>
					<div class="gap-patch">
						<div class="circle"></div>
					</div>
					<div class="circle-clipper right">
						<div class="circle"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Pre-loader end -->

	<div id="pcoded" class="pcoded">

		<div class="pcoded-container">
			<nav class="navbar header-navbar pcoded-header" th:fragment="header">
				<div class="navbar-wrapper">
					<div class="navbar-logo">
						<a class="mobile-menu waves-light" id="mobile-collapse" href="#!">
							<i class="ti-menu"></i>
						</a> <a href="/"> <img class="img-fluid"
							th:src="@{/images/logo.png}" alt="Reviver " />
						</a> <a class="mobile-options waves-light"> <i class="ti-more"></i>
						</a>
					</div>

					<div class="navbar-container container-fluid">

						<ul class="nav-right">
							<li class="user-profile header-notification"><a href="#!">
									<img th:src="@{/images/avatar-4.jpg}" class="img-radius"
									alt="Foto do usuário"> <span>John Doe</span> <i
									class="ti-angle-down"></i>
							</a>
								<ul class="show-notification profile-notification">
									<li><a href="user-profile.html"> <i class="ti-user"></i>
											Perfil
									</a></li>
									<li><a href="auth-normal-sign-in.html"> <i
											class="ti-layout-sidebar-left"></i> Sair
									</a></li>
								</ul></li>
						</ul>
					</div>
				</div>
			</nav>

			<div class="pcoded-main-container">
				<!-- main header-navigation start -->
				<nav class="pcoded-navbar" th:fragment="navbar">
					<div class="pcoded-inner-navbar">
						<ul class="pcoded-item pcoded-left-item">
							<li class="pcoded-hasmenu"><a href="javascript:void(0)">
									<span class="pcoded-micon"><i class="ion-edit"></i><b>N</b></span>
									<span class="pcoded-mtext">Cadastros</span> <span
									class="pcoded-mcaret"></span>
							</a>
								<ul class="pcoded-submenu">
									<li><a href="/chamadas/listar"> <span
											class="nav-submenu-icon"><i class="ion-speakerphone"></i></span>
											<span class="pcoded-mtext" data-i18n="nav.navigate.main">Chamadas</span>
											<span class="pcoded-mcaret"></span>
									</a></li>

									<li><a href="/pacientes/listar"> <span
											class="nav-submenu-icon"><i class="ion-person"></i></span> <span
											class="pcoded-mtext" data-i18n="nav.navigate.main">Pacientes</span>
											<span class="pcoded-mcaret"></span>
									</a></li>

									<li><a href="/cuidadores/listar"> <span
											class="nav-submenu-icon"><i class="ion-person-stalker"></i></span>
											<span class="pcoded-mtext" data-i18n="nav.navigate.main">Cuidadores</span>
											<span class="pcoded-mcaret"></span>
									</a></li>
								</ul></li>

							<li class="pcoded-hasmenu"><a href="javascript:void(0)">
									<span class="pcoded-micon"><i class="ti-archive"></i><b>N</b></span>
									<span class="pcoded-mtext">Movimentos</span> <span
									class="pcoded-mcaret"></span>
							</a>
								<ul class="pcoded-submenu">
									<li><a href="#"> <span class="nav-submenu-icon"><i
												class="ion-ios-copy"></i></span> <span class="pcoded-mtext"
											data-i18n="nav.navigate.main">Incrições</span> <span
											class="pcoded-mcaret"></span>
									</a></li>
								</ul></li>
						</ul>
					</div>
				</nav>
				<!-- main header-navigation end -->
			</div>
		</div>
	</div>
	
	<!-- delete modal start -->
		<div th:fragment="modal-excluir (tipo)" class="modal fade" id="delete-modal2" tabindex="-1" role="dialog">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h6 class="modal-title">Excluir <strong th:text="${tipo}"></strong>?</h6>
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<p>Você realmente deseja excluir <strong th:text="${tipo}"></strong>?</p>
					</div>
					<div class="modal-footer">
						<a href="" class="btn btn-success" id="delete-confirm"></i>Sim</a> <a
							href="" class="btn btn-danger" data-dismiss="modal">Não</a>
					</div>
				</div>
			</div>
		</div>
		<!-- delete modal end -->
</body>
</html>