<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headerfiles">
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<link rel="icon" th:href="@{/images/favicon.ico}" type="image/x-icon">
<link
	href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700"
	rel="stylesheet">
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap/css/bootstrap.min.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/css/themify-icons/themify-icons.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/css/ion-icon/css/ionicons.min.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/css/pcoded-horizontal.min.css}">
</head>
<body>
	<!-- impots scripts -->
	<div th:fragment="scripts-imports">
		<script type="text/javascript" th:src="@{/js/jquery/js/jquery.min.js}"></script>
		<script type="text/javascript"
			th:src="@{/js/popper.js/js/popper.min.js}"></script>
		<script type="text/javascript"
			th:src="@{/css/bootstrap/js/bootstrap.min.js}"></script>
		<script th:src="@{/js/pcoded.min.js}"></script>
		<script th:src="@{/js/menu-hori-fixed.js}"></script>
		<script type="text/javascript"
			th:src="@{/js/jquery.dataTables.min.js}"></script>
		<script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>
		<script type="text/javascript" th:src="@{/js/script.js}"></script>
	</div>
</body>
</html>