<script type="text/javascript" th:src="@{/js/jquery/js/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/js/popper.js/js/popper.min.js}"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
<script>
$('#delete-modal2').on('show.bs.modal', function (event) {
	var button = $(event.relatedTarget) // Button that triggered the modal

	var id = button.data('whateverid') // Extract info from data-* attributes
	var name = button.data('whatevername')
	var controller = button.data('whateverctrl')

	var modal = $(this)

	modal.find('.register').text(name)
	modal.find('#delete-confirm').attr("href", controller)
})</script>
<script type="text/javascript" charset="utf-8">
		$('#example')
			.dataTable(
				{
					"language": {
						"url": "//cdn.datatables.net/plug-ins/1.10.20/i18n/Portuguese-Brasil.json"
					}
				})
	</script>
<script type="text/javascript" th:src="@{/css/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/js/pcoded.min.js}"></script>
<script th:src="@{/js/menu-hori-fixed.js}"></script>
<script type="text/javascript" th:src="@{/js/script.js}"></script>
	<script>
		$(document).ready(function () {
			$('[data-toggle="tooltip"]').tooltip();
		});

		$(document).ready(function () {
			$('[data-toggle="popover"]').popover({
				html: true,
				content: function () {
					return $('#primary-popover-content').html();
				}
			});
		});

	</script>