<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Informações da chamada - Reviver</title>
    <th:block
      th:include="components/geral/index.html :: header-files"
    ></th:block>
  </head>

  <body>
    <div th:replace="components/header/index.html :: header(content='Informações da chamada', paginaatual='chamadas')"></div>

    <div th:if="${novoRegistro}" class="container" data-notification="show">
      <div class="columns is-centered">
        <div class="column is-half notification-component">
          <div
            th:replace="components/notificacao/index.html ::
              notificacao(tipo='success', mensagem='Novos participantes cadastrados na chamada com sucesso!')">
          </div>
        </div>
      </div>
    </div>

    <!-- Content -->
    <section class="section">
      <div class="container">
        <div class="tile is-ancestor">
          <div class="tile is-vertical is-12">
            <div class="tile">
              <div class="tile is-parent is-vertical is-9">
                <article class="tile is-child box">
                  <div class="is-pulled-left">
                    <span
                      th:classappend="${#strings.toString(chamada.status) != 'FECHADO' ? 'is-primary' : 'is-black'}"
                      class="tag mb-4 is-spaced is-rounded mb-8"
                      th:text="${chamada.status.displayValue}"
                      >Status</span
                    >
                    <h2 class="title is-4" th:text="${chamada.titulo}">
                      Chamada
                    </h2>
                    <nav class="info-chamada-breadcrumb">
                      <ul>
                        <li class="has-text-weight-medium">Pessoas cadastradas: <i class="text-info-details"><span th:text="${chamada.numeroPacientesCadastrados}"></span>/50</i></li>
                        <li class="has-text-weight-medium">
                          Data de início:
                          <i
                            th:text="${#temporals.format(chamada.dataInicio, 'dd/MM/yyyy')}" class="text-info-details"
                            >dd/MM/aaaa</i
                          >
                        </li>
                        <li class="has-text-weight-medium">
                          Data de término:
                          <i
                            th:text="${#temporals.format(chamada.dataTermino, 'dd/MM/yyyy')}" class="text-info-details"
                            >dd/MM/aaaa</i
                          >
                        </li>
                      </ul>
                    </nav>

                    <p th:text="${chamada.descricao}">Descrição da chamada.</p>
                  </div>
                  <div class="is-pulled-right">

                    <div class="detalhes-opcoes">
                      <p class="detalhes-opcoes-botao">
                        <i class="fas fa-ellipsis-v"></i>
                      </p>

                      <div class="detalhes-opcoes-body">
                        <a
                      th:href="@{/chamadas/{id}/alterar(id=${chamada.id})}"
                      class="is-primary"
                      ><i class="fas fa-edit"></i> Editar chamada</a
                    >
                        <a onclick="confirmDelete()" 
                          ><i class="far fa-trash-alt"></i> Deletar chamada</a
                        >
                      </div>
                    </div>
                  </div>
                </article>
              </div>
              <div class="tile is-parent">
                <article class="tile is-child">
                  <div class="buttons">
                    <a th:href="@{/registrochamada/{id}(id=${chamada.id})}" class="button is-primary is-medium is-fullwidth">
                      <span class="icon">
                        <i class="fas fa-user-plus"></i>
                      </span>
                      <span>Cadastrar participante</span>
                    </a>
                   <!--  <button
                      class="button is-primary is-outlined is-medium is-fullwidth"
                    >
                      <span class="icon">
                        <i class="fas fa-plus"></i>
                      </span>
                      <span>Cadastrar cuidador</span>
                    </button> -->
                  </div>
                </article>
              </div>
            </div>

            <div class="tile">
              <div class="tile is-parent is-vertical is-5">
                <article class="tile is-child box">
                  <h3 class="title is-5">Atendimentos</h3>

                  <button class="button modal-cadastrar-atendimento">Agendar atendimento</button>

                  <div th:replace="pages/chamadas/atendimento-formulario :: modal-cadastrar-atendimento"></div>
                </article>
              </div>

              <!-- <div class="tile is-parent">
                <article class="tile is-child">
                  <p class="title is-5">Pacientes cadastrados na chamada</p>
                </article>
              </div> -->
            </div>

            <div class="tile is-parent">
              <article class="tile is-child box">
                <p class="title is-5">Pacientes cadastrados na chamada</p>
                <div class="content">

                  <table id='pacientes' class="dataTable" style="border-radius: 7px;">
                    <thead>
                    <tr>
                      <th>Nome</th>
                      <th>CPF</th>
                      <th>Portador de</th>
                      <th>Cuidador</th>
                      <th>Acesso</th>
                    </tr>
                    </thead>

                    <tbody id="table-content">
                    <tr th:each="registroPaciente : ${chamada.getRegistrosPacientes()}">
                      <td>
                        <a th:href="@{/pacientes/{id}(id=${registroPaciente.paciente.id})}" class="has-text-weight-medium"
                           th:text="${registroPaciente.paciente.nome}">
                          Nome paciente
                        </a>
                      </td>
                      <td>
                        <p th:text="${registroPaciente.paciente.cpf}">Cpf paciente</p>
                      </td>
                      <td>
                        <p>
                          <i th:text="${registroPaciente.paciente.alzheimer ? 'Alzheimer' : ''}">Alzheimer</i>
                          <i th:text="${registroPaciente.paciente.parkinson ? 'Parkinson' : ''}">Parkinson</i>
                        </p>
                      </td>
                      <td>
                        <a th:href="@{/cuidadores/{id}(id=${registroPaciente.ultimoCuidadorCadastrado.cuidador.id})}" 
                        th:text="${registroPaciente.ultimoCuidadorCadastrado.cuidador.nome}">Nome Cuidador</a>
                      </td>
                      <td>
                        <a th:href="@{/pacientes/{id}(id=${registroPaciente.paciente.id})}" class="has-text-weight-medium">
                          Acessar paciente
                        </a>
                      </td>
                    </tr>
                    </tbody>
                  </table>

                </div>
              </article>
            </div>

          </div>
        </div>
      </div>
    </section>
    <div id="modall" class="modal" >
      <div id='modal-content' class="modal-background"></div>
      <div  class="modal-content">
        <div class="box">
          <h2 class="subtitle">Tem certeza que deseja excluir esta chamada?</h2>
          <a th:href="@{/chamadas/{id}/excluir(id=${chamada.id})}" class="button is-primary is-small ">
            
            <span>Sim</span>
          </a>
          <button onclick="closee()" class="button is-primary is-outlined is-small ">
            
            <span >Não</span>
          </button>
        </div>
        
      </div>
      <button class="modal-close is-large" aria-label="close"></button>
    </div>
    <!-- Content End-->
    <script>
      let modal = document.getElementById('modall');
      let modalf = document.getElementById('modal-content');
      function closee(){
        modal.style.display = "none";
      }

      function confirmDelete() {
        modal.style.display = "flex";  
      }

      window.onclick = function(event) {
        if (event.target == modalf) {
          modal.style.display = "none";
        }
      }
      </script>
    <th:block th:include="components/geral/index.html :: scripts"></th:block>
  </body>
</html>
