<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Todas as chamadas - Reviver</title>
    <th:block th:include="components/geral/index.html :: header-files"></th:block>
</head>

<body>
<div th:replace="components/header/index.html :: header(content='Todas as chamadas', paginaatual='chamadas')"></div>

<div th:if="${deletada}" class="container" data-notification="show">
    <div class="columns is-centered">
        <div class="column is-half notification-component">
            <div th:replace="components/notificacao/index.html :: notificacao(tipo='success', mensagem='A chamada foi deletada com sucesso!')"></div>
        </div>
    </div>
</div>

<!-- PageBody -->
<section class="section">
    <div class="container">

        <div class="columns">
            <!-- <div class="column is-9">
               
                <div class="control has-icons-left">
                    <input
                            class="input is-medium"
                            type="text"
                            placeholder="Buscar chamada"
                            id="input-search"
                    />
                    <span class="icon is-left">
                <i class="fas fa-search"></i>
              </span>
                </div>
               
            </div> -->

            <!-- ButtonNewCall -->
            <div class="column is-3 " >
                <a
                        href="/chamadas/cadastrar"
                        class="button is-primary is-medium is-fullwidth"
                >
              <span class="icon">
                <i class="far fa-calendar-alt"></i>
              </span>
                    <span>Abrir nova chamada</span>
                </a>
            </div>
            <!-- ButtonNewCall End-->
        </div>

        <!-- TableCalls -->
        
            
                <table id='chamada' class="dataTable" data-editing="true" style="width:100%">
                    <thead>
                    <tr>
                        <th>Título</th>
                        <th>Status</th>
                        <th>Período</th>
                        <th>Pacientes cadastrados</th>
                        <th>Acesso</th>
                    </tr>
                    </thead>

                    <tbody >
                   <!--  <tr th:each="chamada : ${chamadas}">
                        <td>
                            <a
                                    th:href="@{/chamadas/{id}(id=${chamada.id})}"
                                    class="has-text-weight-medium"
                                    th:text="${chamada.titulo}"
                            >Chamada</a
                            >
                        </td>
                        <td>
                    <span
                            th:classappend="${#strings.toString(chamada.status) != 'FECHADO' ? 'is-primary' : 'is-black'}"
                            class="tag is-spaced is-rounded"
                            th:text="${chamada.status.displayValue}"
                    >Status</span
                    >
                        </td>
                        <td>
                            <strong
                                    th:text="${#temporals.format(chamada.dataInicio, 'dd/MM/yyyy')}"
                            >dd/MM/aaaa</strong
                            >
                            até
                            <strong
                                    th:text="${#temporals.format(chamada.dataTermino, 'dd/MM/yyyy')}"
                            >dd/MM/aaaa</strong
                            >
                        </td>
                        <td>50/50</td>
                        <td>
                            <a
                                    th:href="@{/chamadas/{id}(id=${chamada.id})}"
                                    class="has-text-weight-medium"
                            >Acessar chamada</a
                            >
                        </td>
                    </tr>
               -->      </tbody>
                </table>

        <!-- TableCalls End-->
    </div>
</section>
<!-- PageBody End -->

<th:block th:include="components/geral/index.html :: scripts"></th:block>
</body>
<script>
    function formatData(data) {
  var dia = data.slice(8);
  var mes = data.slice(5, 7);
  var ano = data.slice(0, 4);
  return "".concat(dia, "/").concat(mes, "/").concat(ano);
}
	$(document).ready(function() {
		$.ajax({
    'url': "/chamadas/",
    'method': "GET",
    'contentType': 'application/json'
}).done( function(data) {
	console.log(data.content[0].titulo,'jonathannnnnnnnn')
	const actualData = data.content
    $('#chamada').dataTable( {
        "aaData": actualData,
        "columns": [
        { "data": "titulo" ,
        "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
            $(nTd).html("<a class='has-text-weight-medium' href='/chamadas/"+oData.id+"'>"+oData.titulo+"</a>");
        } },
            { "data": "status" ,
        "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
            if(oData.status === 'ABERTA'){
                $(nTd).html("<span class='tag is-spaced is-rounded is-primary'>Aberto</span>");
            }else if(oData.status === 'FECHADO'){
                $(nTd).html("<span class='tag is-spaced is-rounded is-black'>Fechado</span>");
            }else if(oData.status === 'EMANDAMENTO'){
                $(nTd).html("<span class='tag is-spaced is-rounded is-black'>Em andamento</span>");
            }
            
        } },
            { "data": "dataInicio",
        "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
            $(nTd).html("<span ><strong>"+formatData(oData.dataInicio)+" a "+formatData(oData.dataTermino)+"</strong></span>");
            
        } },
            { "data": "titulo" ,
        "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
            $(nTd).html("<span >40/50</span>");
        } },
            { "data": "titulo" ,
        "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
            $(nTd).html("<a class='has-text-weight-medium' href='/chamadas/"+oData.id+"'>Acessar Chamada</a>");
        } },
   
		
            
        ]
    })
})

    /* $('#paciente').DataTable(); */
} );
</script>
</html>