<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Todas as chamadas - Reviver</title>
    <th:block th:include="components/geral/index.html :: header-files"></th:block>
</head>

<body>
<div th:replace="components/header/index.html :: header(content='Todas as chamadas', paginaatual='chamadas')"></div>

<div th:if="${deletada}" class="container" data-notification="show">
    <div class="columns is-centered">
        <div class="column is-half notification-component">
            <div th:replace="components/notificacao/index.html :: notificacao(tipo='success', mensagem='A chamada foi deletada com sucesso!')"></div>
        </div>
    </div>
</div>

<!-- PageBody -->
<section class="section">
    <div class="container">

        <div class="columns">
            <!-- ButtonNewCall -->
            <div class="column is-3 " >
                <a
                        href="/chamadas/cadastrar"
                        class="button is-primary is-medium is-fullwidth"
                >
              <span class="icon">
                <i class="far fa-calendar-alt"></i>
              </span>
                    <span>Abrir nova chamada</span>
                </a>
            </div>
            <!-- ButtonNewCall End-->
        </div>

        <!-- TableCalls -->
                <table id='chamadas' class="dataTable"  style="width:100%; border-radius: 7px;">
                    <thead>
                    <tr>
                        <th>Título</th>
                        <th>Status</th>
                        <th>Período</th>
                        <th>Pacientes cadastrados</th>
                        <th>Acesso</th>
                    </tr>
                    </thead>

                    <tbody >
                    <tr th:each="chamada : ${chamadas}">
                        <td>
                            <a
                                    th:href="@{/chamadas/{id}(id=${chamada.id})}"
                                    class="has-text-weight-medium"
                                    th:text="${chamada.titulo}"
                            >Chamada</a
                            >
                        </td>
                        <td>
                    <span
                            th:classappend="${#strings.toString(chamada.status) != 'FECHADO' ? 'is-primary' : 'is-black'}"
                            class="tag is-spaced is-rounded"
                            th:text="${chamada.status.displayValue}"
                    >Status</span
                    >
                        </td>
                        <td>
                            <strong
                                    th:text="${#temporals.format(chamada.dataInicio, 'dd/MM/yyyy')}"
                            >dd/MM/aaaa</strong
                            >
                            até
                            <strong
                                    th:text="${#temporals.format(chamada.dataTermino, 'dd/MM/yyyy')}"
                            >dd/MM/aaaa</strong
                            >
                        </td>
                        <td><span th:text="${chamada.numeroPacientesCadastrados}"></span>/50</td>
                        <td>
                            <a
                                    th:href="@{/chamadas/{id}(id=${chamada.id})}"
                                    class="has-text-weight-medium"
                            >Acessar chamada</a
                            >
                        </td>
                    </tr>
                    </tbody>
                </table>
        <!-- TableCalls End-->
    </div>
</section>
<!-- PageBody End -->

<th:block th:include="components/geral/index.html :: scripts"></th:block>
</script>
</body>
</html>