<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cadastrar participante - Reviver</title>
    <th:block th:include="components/geral/index.html :: header-files"></th:block>
</head>

<body>
    <div th:replace="components/header/index.html :: header(content='Cadastrar participante', paginaatual='pacientes')"></div>

    <!-- Content -->
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column box box-section is-9">

                        <form method="post" th:action="@{/registrochamada/}" id="regForm">
                            <input type="hidden" id="chamada" name="chamada" th:value="${chamada.getId()}">

                            <div class="tab">
                                <div th:replace="components/select-participantes-cadastrados/index.html
                                    :: select-paticipantes-cadastrados(tipo='paciente')">
                                </div>
                            </div>

                            <div class="tab">
                                <div th:replace="components/select-participantes-cadastrados/index.html
                                    :: select-paticipantes-cadastrados(tipo='cuidador')">
                                </div>
                            </div>

                            <!-- FormTermosCompromisso -->
                            <div class="tab">
                                <h1 class="title">Termos de compromisso</h1>
                            </div>
                            <!-- FormTermosCompromisso End-->

                            <div class="form-navigation">
                                <div class="field is-pulled-left">
                                    <div class="control">
                                        <a class="button form-navigation-back">
                                            Voltar
                                        </a>
                                    </div>
                                </div>

                                <div class="field is-pulled-right">
                                    <div class="control">
                                        <a class="button is-primary form-navigation-next">
                                            Próximo
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </form>
                </div>
                <!-- Steps -->
                <div class="column">
                    <div class="step-info-section">
                        <h1 class="is-pulled-left">01</h1>
                        <p>Passo 01</p>
                        <strong>Dados do paciente</strong>
                    </div>

                    <div class="step-info-section">
                        <h1 class="is-pulled-left">02</h1>
                        <p>Passo 02</p>
                        <strong>Dados do cuidador</strong>
                    </div>

                    <div class="step-info-section">
                        <h1 class="is-pulled-left">03</h1>
                        <p>Passo 03</p>
                        <strong>Termos de compromisso</strong>
                    </div>
                </div>
                <!-- Steps End -->
            </div>
        </div>
    </section>
    <!-- Content End -->

    <th:block th:include="components/geral/index.html :: scripts"></th:block>
    <script>
        $(document).ready(function() {
            $(`#paciente`).select2({
                ajax: {
                    url: `/api/pacientes/select/`,
                    dataType: 'json',
                    delay: 250,
                    processResults: function (response) {
                        return {
                            results: response
                        }
                    },
                    cache: true,
                    data: function (params) {
                      var queries = {
                        query: params.term,
                      }
                      return queries;
                    }
                }
            });
        });

        $(document).ready(function() {
            $(`#cuidador`).select2({
                ajax: {
                    url: `/api/cuidadores/select/`,
                    dataType: 'json',
                    delay: 250,
                    processResults: function (response) {
                        return {
                            results: response
                        }
                    },
                    cache: true,
                    data: function (params) {
                      var queries = {
                        query: params.term,
                      }
                      return queries;
                    }
                }
            });
        });
    </script>
</body>