<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<header th:fragment="header-files">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/main.css}" />
    <link rel="icon" th:href="@{/images/favicon.ico}" type="image/x-icon" />
    <link rel="stylesheet" href="/webjars/font-awesome/css/all.min.css">
    <link rel="stylesheet" href="/webjars/select2/css/select2.min.css">
</header>

<div th:fragment="scripts">
    <script type="text/javascript" th:src="@{/lib/main.js}"></script>
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/select2/js/select2.min.js"></script>
</div>

</html>