<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Todos os cuidadores - Reviver</title>
	<th:block th:include="components/geral/index.html :: header-files"></th:block>
</head>

<body>
<div th:replace="components/header/index.html :: header(content='Todos os cuidadores', paginaatual='cuidadores')"></div>

<!-- PageBody -->
<section class="section">
	<div class="container">

		<!-- TableCuidadores -->
		<div class="container mt-16">
			<table id='cuidadores' class="dataTable"  style="width:100%; border-radius: 7px;">
				<thead>
				<tr>
					<th>Nome</th>
					<th>CPF</th>
					<th>Telefone</th>
					<th>Paciente</th>
					<th>Acesso</th>
				</tr>
				</thead>

				<tbody id="table-content">
				<tr th:each="cuidador : ${cuidadores}">
					<td>
						<a th:href="@{/cuidadores/{id}(id=${cuidador.id})}" class="has-text-weight-medium" th:text="${cuidador.nome}">
							Nome cuidador
						</a>
					</td>
					<td>
						<p th:text="${cuidador.cpf}">Cpf cuidador</p>
					</td>
					<td>
						<p th:text="${cuidador.telefone[0]}">Telefone cuidador</p>
					</td>
					<td>
						<a href="#">Nome Paciente</a>
					</td>
					<td>
						<a th:href="@{/cuidadores/{id}(id=${cuidador.id})}" class="has-text-weight-medium">
							Acessar cuidador
						</a>
					</td>
				</tr>
				</tbody>
			</table>
		</div>
		<!-- TableCuidador End-->

	</div>
</section>
<!-- PageBody End -->

<th:block th:include="components/geral/index.html :: scripts"></th:block>
</body>
</html>