<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>

<meta charset="UTF-8">
<title>Dados do Paciente - Projeto Reviver</title>
<th:block th:include="fragmentos/general.html :: headerfiles">

</head>
<body>

	<div th:replace="fragmentos/componentes :: theme-loader "></div>

	<div id="pcoded" class="pcoded">
		<div class="pcoded-container">
			
			<div th:replace="fragmentos/componentes :: header"></div>
			
			<div class="pcoded-main-container">
				<div th:replace="fragmentos/componentes :: navbar"></div>
				
				<div class="pcoded-wrapper">
					<div class="pcoded-content">
						<div class="pcoded-inner-content">
							<div class="main-body">
								<div class="page-wrapper">
									<div class="page-body">
										<div class="row m-t-40">
											<div class="col-lg">
											
												<!-- Default card start -->
                        <div class="card">
                          <div class="card-header">
                            <h5>Perfil do paciente</h5>
                            <div class="d-flex justify-content-between align-items-center flex-wrap">
                              <span class="m-0">
                                Aqui você pode ver os dados do paciente cadastrado.
                              </span>
                              <div>
                                <a href="edit.html"><button type="button" class="btn btn-primary">Editar</button></a>
                                <button type="button" class="btn btn-danger btn-outline-danger">Deletar</button>
                              </div>

                            </div>
                          </div>

                          <!-- @JM trabalho a partir daqui-->

                          <div class="card-block">
                            <div class="px-4">
                              <!--padding left-right-->
                              <h4 class="sub-title">Dados pessoais</h4>
                              <div class="mb-4 row">
                                <label class="col-sm-4 col-lg-4 font-weight-bold">CPF</label>
                                <div class="col-xl-6 col-lg-8 col-sm-8">
                                  <p>999.888.777-22</p>
                                </div>
                              </div>

                              <div class="mb-4 row">
                                <label class="col-sm-4 col-lg-4 font-weight-bold">Nome completo</label>
                                <div class="col-xl-6 col-lg-8 col-sm-8">
                                  <p>João Marcos de Oliveira Santana</p>
                                </div>
                              </div>

                              <div class="mb-4 row">
                                <label class="col-sm-4 col-lg-4 font-weight-bold">Gênero</label>
                                <div class="col-xl-6 col-lg-8 col-sm-8">
                                  <p>Masculino</p>
                                </div>
                              </div>

                              <div class="mb-4 row">
                                <label class="col-sm-4 col-lg-4 font-weight-bold">Data de
                                  nascimento</label>
                                <div class="col-xl-6 col-lg-8 col-sm-8">
                                  <p>11/10/1998</p>
                                </div>
                              </div>

                              <h4 class="sub-title">Contato</h4>
                              <div class="mb-4 row">
                                <label class="col-sm-4 col-lg-4 font-weight-bold">E-mail</label>
                                <div class="col-xl-6 col-lg-8 col-sm-8">
                                  <p>example@email.com</p>
                                </div>
                              </div>

                              <div class="mb-4 row">
                                <label class="col-sm-4 col-lg-4 font-weight-bold">Telefone</label>
                                <div class="col-xl-6 col-lg-8 col-sm-8">
                                  <p>(096) 99999-9999</p>
                                </div>
                              </div>

                              <h4 class="sub-title">Endereço</h4>
                              <div class="mb-4 row">
                                <label class="col-sm-4 col-lg-4 font-weight-bold">CEP</label>
                                <div class="col-xl-6 col-lg-8 col-sm-8">
                                  <p>68900-000</p>
                                </div>
                              </div>

                              <div class="mb-4 row">
                                <label class="col-sm-4 col-lg-4 font-weight-bold">Rua</label>
                                <div class="col-xl-6 col-lg-8 col-sm-8">
                                  <p>Avenida Bootstrap</p>
                                </div>
                              </div>

                              <div class="mb-4 row">
                                <label class="col-sm-4 col-lg-4 font-weight-bold">Bairro</label>
                                <div class="col-xl-6 col-lg-8 col-sm-8">
                                  <p>Central</p>
                                </div>
                              </div>

                              <div class="mb-4 row">
                                <label class="col-sm-4 col-lg-4 font-weight-bold">Cidade</label>
                                <div class="col-xl-6 col-lg-8 col-sm-8">
                                  <p>Macapá</p>
                                </div>
                              </div>

                              <div class="mb-4 row">
                                <label class="col-sm-4 col-lg-4 font-weight-bold">Número</label>
                                <div class="col-xl-6 col-lg-8 col-sm-8">
                                  <p class="wei">1000</p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- Default card end -->
											
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<th:block th:include="fragmentos/general :: scripts-imports"></th:block>
</body>
</html>