<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Pacientes - Projeto Reviver</title>
<th:block th:include="fragmentos/general.html :: headerfiles">
</th:block>
</head>

<body>
	<div th:replace="fragmentos/componentes :: theme-loader "></div>
	<div id="pcoded" class="pcoded">
		<div class="pcoded-container">
			<div th:replace="fragmentos/componentes :: header"></div>
			<div class="pcoded-main-container">
				<div th:replace="fragmentos/componentes :: navbar"></div>
				<div class="pcoded-wrapper">
					<div class="pcoded-content">
						<div class="pcoded-inner-content">
							<div class="main-body">
								<div class="page-wrapper">
									<div class="page-body">
										<div class="row m-t-40">
											<div class="col-lg">
												<div class="card">
													<div class="card-header"
														style="display: flex; justify-content: space-between;">
														<div>
															<h5>Pacientes cadastrados></h5>
															<span>Lista dos pacientes cadastrados no projeto.</span>
														</div>
														<div style="margin-top: 10px;">
															<a href="/pacientes/cadastrar" class="btn btn-primary"><i
																class="ion-speakerphone"
																style="margin-right: 10px; font-size: 18px"></i>Cadastrar
																paciente</a>
														</div>
													</div>
													<div class="card-block">
														<div class="dt-responsive table-responsive">
															<div id="alt-pg-dt_wrapper" class="dataTables_wrapper dt-bootstrap4">
																<table id="example" class="table table-striped table-bordered" style="width:100%">
																	<thead>
																		<tr>
																			<th>Name</th>
																			<th style="width: 15%">CPF</th>
																			<th style="width: 20%">Portador de</th>
																			<th style="width: 7%">Ações</th>
																		</tr>
																	</thead>
																	<tbody>
																		<tr th:each="paciente : ${pacientes}">
																			<td><a th:href="@{/pacientes/detalhes/{id}(id=${paciente.id})}" th:text="${paciente.nome}"></a></td>
																			<td th:text="${paciente.cpf}"></td>
																			<td>Alzheimer, Parkinson</td>
																			<td>
																				<a href="edit.html"><button class="btn btn-primary btn-icon"
																						style="margin-right: 16px" data-toggle="tooltip" data-placement="top"
																						data-original-title="Editar paciente">
																						<i class="icofont ion-edit" style="margin-left: 5px"></i></button></a>
																				<!-- Configurar botão de excluir -->
																				<a th:href="@{/pacientes/{id}/excluir(id=${paciente.id})}" data-toggle="modal" data-target="#delete-modal"
																					th:data-whateverid="${paciente.id}" th:data-whateverctrl="@{/pacientes/{id}/excluir(id=${paciente.id})}"><button
																						class="btn btn-danger btn-outline-danger btn-icon" data-toggle="tooltip"
																						data-placement="top" data-original-title="Deletar paciente">
																						<i class="icofont ion-trash-a" style="margin-left: 5px"></i></button></a>
																			</td>
																		</tr>
																	</tbody>
																</table>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div th:replace="fragmentos/componentes :: modal-excluir(tipo='paciente')"></div>
	</div>
	<th:block th:include="fragmentos/general.html :: scripts-imports"></th:block>
</body>
</html>