<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="modal-cadastrar-paciente" class="modal modal-paciente">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <a class="delete" aria-label="close"></a>
        </header>
        <section class="modal-card-body">
            <h2 class="title is-5">Dados do novo paciente</h2>
            <p>Caso o paciente nunca tenha participado do Projeto Reviver ou não possui um cadastro no sistema, então use o formulário abaixo para cadastrá-lo.</p>
            <h3 class="title is-6 user-data-section">Dados pessoais</h3>

            <div class="field">
                <label class="label">Nome completo</label>
                <div class="control">
                    <input class="input" type="text" placeholder="" id="nome-paciente">
                </div>
            </div>

            <div class="field">
                <label class="label">CPF</label>
                <div class="control">
                    <input class="input" type="text" placeholder="" id="cpf-paciente">
                </div>
            </div>

            <div class="field">
                <label class="label">Data de nascimento</label>
                <div class="control">
                    <input class="input" type="date" placeholder="" id="nascimento-paciente">
                </div>
            </div>

            <div class="field">
                <label class="label">Gênero</label>
                <div class="control">
                    <div class="select">
                        <select id="genero-paciente">
                            <option value="M">Masculino</option>
                            <option value="F">Feminino</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="field">
                <label class="label">Estado civil</label>
                <div class="control">
                    <div class="select">
                        <select id="estadocivil-paciente">
                            <option value="CASADO">Casado</option>
                            <option value="SOLTEIRO">Solteiro</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="field">
                <label class="label">Portador de</label>
                <div class="field is-narrow">
                    <div class="control">
                        <label class="checkbox">
                            <input type="checkbox" name="Parkinson" id="parkinson">
                            Parkinson
                        </label>
                        <label class="checkbox">
                            <input type="checkbox" name="Alzheimer" id="alzheimer">
                            Alzheimer
                        </label>
                    </div>
                </div>
            </div>

            <h3 class="title is-6 user-data-section">Contato</h3>

            <div class="field">
                <label class="label">E-mail</label>
                <div class="control">
                    <input class="input" type="text" placeholder="" id="email-paciente">
                </div>
            </div>

            <div class="field">
                <label class="label">Telefone</label>
                <div class="control">
                    <input class="input" type="text" placeholder="" id="telefone-paciente">
                </div>
            </div>

            <h3 class="title is-6 user-data-section">Endereço</h3>

            <div class="field">
                <label class="label">CEP</label>
                <div class="control">
                    <input class="input" type="text" placeholder="" id="cep-paciente">
                </div>
            </div>

            <div class="field">
                <label class="label">Rua</label>
                <div class="control">
                    <input class="input" type="text" placeholder="" id="rua-paciente">
                </div>
            </div>

            <div class="field">
                <label class="label">Número</label>
                <div class="control">
                    <input class="input" type="text" placeholder="" id="numero-paciente">
                </div>
            </div>

            <div class="field">
                <label class="label">Bairro</label>
                <div class="control">
                    <input class="input" type="text" placeholder="" id="bairro-paciente">
                </div>
            </div>

            <div class="field">
                <label class="label">Complemento</label>
                <div class="control">
                    <input class="input" type="text" placeholder="" id="complemento-paciente">
                </div>
            </div>

            <div class="field">
                <label class="label">Cidade</label>
                <div class="control">
                    <input class="input" type="text" placeholder="" id="cidade-paciente">
                </div>
            </div>

            <div class="field">
                <label class="label">Estado</label>
                <div class="control">
                    <input class="input" type="text" placeholder="" id="estado-paciente">
                </div>
            </div>
        </section>
        <footer class="modal-card-foot">
            <a class="button is-primary" id="cadastrar-paciente">Cadastrar</a>
            <a class="button">Cancelar</a>
        </footer>
    </div>
</div>

</body>
</html>