<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Todos os Pacientes - Reviver</title>
    <th:block th:include="components/geral/paciente.html :: header-files"></th:block>
    
</head>

<body>
<div th:replace="components/header/index.html :: header(content='Todos os pacientes', paginaatual='pacientes')"></div>

<div th:if="${deletada}" class="container" data-notification="show">
    <div class="columns is-centered">
        <div class="column is-half notification-component">
            <div th:replace="components/notificacao/index.html :: notificacao(tipo='success', mensagem='O paciente foi deletado com sucesso!')"></div>
        </div>
    </div>
</div>
<section class="section">
	<table id='paciente' class="dataTable" data-editing="true" style="width:100%">
		 <thead>
			<tr>
				
				<th>Nome</th>
				<th>CPF</th>
				<th>Portador de</th>
				<th>Acesso</th>
			</tr>
		</thead>
		<tbody>
	
		<tr th:each="paciente : ${pacientes}">
			<td>
				<a
						th:href="@{#}"
						class="has-text-weight-medium"
						th:text="${paciente.nome}"
				></a
				>
			</td>
			<td><span th:text="${paciente.cpf}">

			</span></td>
			<td>  <span th:classappend="${paciente.parkinson ? 'tag is-spaced is-rounded is-primary' : ''}"   th:text="${paciente.parkinson?'Parkinson':''}"  >

			</span><span  th:classappend="${paciente.alzheimer ? 'tag is-spaced is-rounded is-link' : ''}" th:text="${paciente.alzheimer?'Alzheimer':''}">

			</span></td>
			<td>
				<a
						th:href="@{#}"
						class="has-text-weight-medium"
				>Acessar paciente</a
				>
			</td>
		</tr>
	
	</tbody> 
	</table>
</section>


<th:block th:include="components/geral/paciente.html :: scripts"></th:block>
</body>

<!-- Add in any FooTable dependencies we may need -->

<!-- Add in FooTable itself -->

<script>
	$(document).ready(function() {

		$('#paciente').DataTable();

		

		/* $.ajax({
    'url': "/api/pacientes/",
    'method': "GET",
    'contentType': 'application/json'
}).done( function(data) {
	console.log(data.content[0].nome,'jonathannnnnnnnn')
	const actualData = data.content
    $('#paciente').dataTable( {
        "aaData": actualData,
        "columns": [
		
            { "data": "nome",
        "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
            $(nTd).html("<a class='has-text-weight-medium' href='#'>"+oData.nome+"</a>");
        } },
            { "data": "cpf" },
            { "data": "parkinson", "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
            if(oData.parkinson && !oData.alzheimer){
                $(nTd).html("<span >Parkinson</span>");
            }else if(!oData.parkinson && oData.alzheimer){
                $(nTd).html("<span >Alzheimer</span>");
            }else if(oData.parkinson && oData.alzheimer){
				$(nTd).html("<span >Alzheimer, parkinson</span>");
			}else if(!oData.parkinson && !oData.alzheimer){
				$(nTd).html("<span >Não informado</span>");
			}
           
            
        } },{ "data": "nome" ,
        "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
            $(nTd).html("<a class='has-text-weight-medium' href='#'>Acessar Paciente</a>");
        } },
            
        ]
    })
})
 */
    
} );
</script>
</html>