<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Todos os pacientes - Reviver</title>
	<th:block th:include="components/geral/index.html :: header-files"></th:block>
</head>

<body>
<div th:replace="components/header/index.html :: header(content='Todos os pacientes', paginaatual='pacientes')"></div>

<!-- PageBody -->
<section class="section">
	<div class="container">

		<!-- TablePacientes -->
		<div class="container mt-16">
				<table id='pacientes' class="dataTable"  style="width:100%; border-radius: 7px;">
					<thead>
					<tr>
						<th>Nome</th>
						<th>CPF</th>
						<th>Portador de</th>
						<th>Cuidador</th>
						<th>Acesso</th>
					</tr>
					</thead>

					<tbody id="table-content">
					<tr th:each="paciente : ${pacientes}">
						<td>
							<a th:href="@{/pacientes/{id}(id=${paciente.id})}" class="has-text-weight-medium" th:text="${paciente.nome}">
								Nome paciente
							</a>
						</td>
						<td>
							<p th:text="${paciente.cpf}">Cpf paciente</p>
						</td>
						<td>
							<p>
								<i th:text="${paciente.alzheimer ? 'Alzheimer' : ''}">Alzheimer</i>
								<i th:text="${paciente.parkinson ? 'Parkinson' : ''}">Parkinson</i>
							</p>
						</td>
						<td>
							<a href="#">Nome Cuidador</a>
						</td>
						<td>
							<a th:href="@{/pacientes/{id}(id=${paciente.id})}" class="has-text-weight-medium">
								Acessar paciente
							</a>
						</td>
					</tr>
					</tbody>
				</table>
			</div>
		<!-- TablePacientes End-->

	</div>
</section>
<!-- PageBody End -->

<th:block th:include="components/geral/index.html :: scripts"></th:block>
</body>
</html>