<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Abrir nova chamada - Reviver</title>
	<th:block th:include="components/geral/index.html :: header-files"></th:block>
</head>

<body>
	<div th:replace="components/header/index.html :: header"></div>

	<!-- Content -->
	<section class="section">
		<div class="container">

			<div class="columns">

				<div class="column box box-section is-9">

					<form method="post" action="/chamadas/cadastrar" th:object="${chamada}" autocomplete="off">

						<div class="notification is-danger is-light" role="alert" th:if="${#fields.hasErrors('*')}">
							<button class="delete"></button>
							<p class="block" th:each="error : ${#fields.errors('*')}" th:text="${error}"></p>
						</div>

						<h2 class="title is-5">Dados da nova chamada</h2>

						<div class="columns">
							<div class="column">
								<div class="field">
									<label class="label">Título da chamada</label>
									<div class="control">
										<input class="input" type="text" placeholder="Ex. Chamada 09" th:field="${chamada.titulo}">
									</div>
								</div>
							</div>

							<div class="column">
								<div class="field">
									<label class="label">Status</label>
									<div class="control">
										<div class="select">
											<select th:field="${chamada.status}">
												<option th:each="statusOpt : ${T(net.projetoreviver.sgp.models.StatusChamada).values()}"
														th:value="${statusOpt}" th:text="${statusOpt.displayValue}"></option>
											</select>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="columns">
							<div class="column">
								<div class="field">
									<label class="label">Data de início</label>
									<div class="control">
										<input class="input" id="dataInicio" type="date" placeholder="dd/MM/aaaa"
											   th:field="${chamada.dataInicio}" th:min="${minDate}">
									</div>
								</div>
							</div>

							<div class="column">
								<div class="field">
									<label class="label">Data de término</label>
									<div class="control">
										<input class="input" id="dataTermino" type="date" placeholder="dd/MM/aaaa"
											   th:field="${chamada.dataTermino}" th:min="${minDate}">
									</div>
								</div>
							</div>
						</div>

						<div class="field">
							<label class="label">Descrição</label>
							<div class="control">
					  <textarea class="textarea" placeholder="Breve anotação sobre a nova chamada"
								th:field="${chamada.descricao}" maxlength="75"></textarea>
							</div>
						</div>

						<div class="field is-pulled-right">
							<div class="control">
								<button type="submit" class="button is-primary form-navigation-next">
									Salvar
								</button>
							</div>
						</div>

					</form>
				</div>

			</div>

		</div>
	</section>

	<th:block th:include="components/geral/index.html :: scripts"></th:block>
</body>
</html>