<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Home - Projeto Reviver</title>
<th:block th:include="fragmentos/general.html :: headerfiles">
</th:block>
</head>

<body>
	<div th:replace="fragmentos/componentes :: theme-loader "></div>
	<div id="pcoded" class="pcoded">
		<div class="pcoded-container">
			<div th:replace="fragmentos/componentes :: header"></div>
			<div class="pcoded-main-container">
				<div th:replace="fragmentos/componentes :: navbar"></div>
				<div class="pcoded-wrapper">
					<div class="pcoded-content">
						<div class="pcoded-inner-content">
							<div class="main-body">
								<div class="page-wrapper">
									<div class="page-body">
										<div class="row m-t-40">
											<div class="col-lg">
												<div class="card">
													<div class="card-header"
														style="display: flex; justify-content: space-between;">
														<div>
															<h5>Chamadas cadastradas</h5>
															<span>Lista das chamadas cadastrados no projeto
																até o momento.</span>
														</div>
														<div style="margin-top: 10px;">
															<a href="/chamadas/cadastrar" class="btn btn-primary"><i
																class="ion-speakerphone"
																style="margin-right: 10px; font-size: 18px"></i>Cadastrar
																chamada</a>
														</div>
													</div>
													<div class="card-block">
														<div class="dt-responsive table-responsive">
															<table id="example"
																class="table table-striped table-bordered"
																style="width: 100%">
																<thead>
																	<tr>
																		<th style="width: 15%">Data de início</th>
																		<th style="width: 15%">Data de término</th>
																		<th>Descrição</th>
																		<th>Ação</th>
																	</tr>
																</thead>
																<tbody>
																	<tr th:each="chamada : ${chamadas}">
																		<td
																			th:text="${#dates.format(chamada.dataInicio, 'dd/MM/yyyy')}"></td>
																		<td
																			th:text="${#dates.format(chamada.dataTermino, 'dd/MM/yyyy')}"></td>
																		<td th:text="${chamada.descricao}"></td>
																		<td><a
																			th:href="@{/chamadas/{id}/alterar(id=${chamada.id})}"
																			class="btn btn-primary btn-icon"
																			style="margin-right: 16px" data-toggle="tooltip"
																			data-placement="top"
																			data-original-title="Editar chamada"><i
																				class="icofont ion-edit" style="margin-left: 5px"></i></a>

																			<a
																			th:href="@{/chamadas/{id}/excluir(id=${chamada.id})}"
																			class="btn btn-danger btn-outline-danger btn-icon"
																			style="margin-right: 16px" data-toggle="modal"
																			data-target="#delete-modal2"
																			th:data-whateverid="${chamada.id}"
																			th:data-whateverctrl="@{/chamadas/{id}/excluir(id=${chamada.id})}">
																				<i class="icofont ion-trash-a"
																				style="margin-left: 5px" data-toggle="tooltip"
																				data-placement="top"
																				data-original-title="Editar chamada"></i>
																		</a></td>
																	</tr>
																</tbody>
															</table>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- delete modal start -->
		<div class="modal fade" id="delete-modal2" tabindex="-1" role="dialog">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h6 class="modal-title">Excluir chamada?</h6>
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<p>Você deseja excluir a chamada?</p>
					</div>
					<div class="modal-footer">
						<a href="" class="btn btn-success" id="delete-confirm"></i>Sim</a> <a
							href="" class="btn btn-danger" data-dismiss="modal">Não</a>
					</div>
				</div>
			</div>
		</div>
		<!-- delete modal end -->
	</div>
	<th:block th:include="fragmentos/general.html :: scripts-imports"></th:block>
</body>
</html>