<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<nav th:fragment="navegacao" class="navbar" role="navigation" aria-label="main navigation">

    <div class="navbar-brand">
        <a class="navbar-item" href="#">
            <img th:src="@{/images/logo.png}" alt="Reviver">
        </a>
        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarMobileNav">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarMobileNav" class="navbar-menu">
        <div class="navbar-end">
            <a href="/chamadas/listar" class="navbar-item">
            <span class="icon nav-icon">
              <i class="far fa-calendar-alt"></i>
            </span>
                Chamadas
            </a>

            <a href="/pacientes/listar" class="navbar-item">
            <span class="icon nav-icon">
              <i class="far fa-user"></i>
            </span>
                Pacientes
            </a>

            <a href="/cuidadores/listar" class="navbar-item">
            <span class="icon nav-icon">
              <i class="far fa-user"></i>
            </span>
                Cuidadores
            </a>
        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                <a href="#">Nome Usuário</a>
            </div>
        </div>
    </div>

</nav>
<!-- Navbar End-->

</html>